<div class="search">
  <form class="search__form" >
    <label for="name"> Name: </label>
    <input class="search__input" type="text" name="name">

    <label for="gender">Gender:</label>
    <select class="search__input" name="gender">
      <option selected="" disabled="">choose gender:</option>
      <option value="male">male</option>
      <option value="female">female</option>
      <option value="genderless">genderless</option>
      <option value="unknown">unknown</option>
    </select>

    <label for="status">Status:</label>
    <select class="search__input" name="status">
      <option selected="" disabled="">choose status:</option>
      <option value="alive">Alive</option>
      <option value="dead">Dead</option>
      <option value="unknown">unknown</option>
    </select>

    <div></div>
    <div>
      <button class="form__button form__clear-button" type="reset">Clear</button>
      <button class="form__button form__submit-button">Search</button>
    </div>
  </form>
</div>

