<div class="search" [ngClass]="{search_show:searchIsOpen}">
  <form class="form" (submit)="sendRequest($event)">
    <label for="name">Name</label>
    <input class="form-control" type="text" class="form-control" id="name" 
           [(ngModel)]="request.name" name="name">

    <label for="status">Status</label>
    <select class="form-control" id="status" [(ngModel)]="request.status" name="status">
      <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
    </select>

    <label for="status">Gender:</label>
    <select class="form-control" id="genders" [(ngModel)]="request.gender" name="gender">>
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
    <div></div>
    <div>
      <button class="form__button form__clear-button" (click)="clear()">Clear</button>
      <button class="form__button form__submit-button">Search</button>
    </div>
  </form>
</div>
