.sort__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-top: 6px;
  margin-left: 12px;
  background-image: url(../../assets/icons/sort.svg);
}

.sort__button_reverse{
  background-image: url(../../assets/icons/sort-reverse.svg);
}
