<main class="main">

  <header class="header">
    <h1 class="header__title">
      {{title}}
    </h1>
  </header>
  <div class="buttons">
  </div>
  <div class="cards">
    <app-card (onModalOpen)="setSelectedCharacter(character)" *ngFor="let character of characters" [character]="character">
    </app-card>
    <app-card-modal (onClose)="onCloseModal()" [character]="selectedCharacter"></app-card-modal>
  </div>
  <app-pagination [totalPages]="totalPages" (onPageChanged)="onPaginationChanged()"></app-pagination>
  <footer class="footer">
    <p>MTiS</p>
  </footer>
</main>
