@font-face {
    font-family: "OtomanopeeOne-Regular";

    src: url("../fonts/OtomanopeeOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    text-align: center;
    height: 100%;
    font-family: "OtomanopeeOne-Regular";
    font-size: 14px;
    margin: 0px;
    background: #f9f9fb;
    color: #6c757d;
}

.header {
    background: #494d55;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    height: 70px;
    position: fixed;
    width: 100%;
}

.header__title {
    margin-top: 10px;
}

.main {
    margin: 0 auto;
    min-height: calc(100% - 106px);
    max-width: 90%;
    padding-top: 70px;
    font-size: 14px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 450px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    border: 1px solid black;
}

.card__img {
    width: 220px;
    height: 220px;
}

.card__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    text-align: left;
    justify-content: space-evenly;
    padding-left: 10px;
}

.card__content-item {
    margin: 0px;
}

.card__content-item_highlights {
    color: #eeeefa;

}

.card__link {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.pagination__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.pagination__buttons :hover:not(.pagination__button_active) {
    background-color: #ddd;
}

.pagination__button{
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.pagination__button_active {
    background-color: #494d55;
    color: white;
}

.pagination__button_disabled {
    opacity:0.6;
}

.footer {
    background: #343a40;
    padding: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
}

.filter__button {
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  background-image: url(../icons/sort.svg);
}

.filter__button_reverse{
  background-image: url(../icons/sort-reverse.svg);
}
