@font-face {
    font-family: "OtomanopeeOne-Regular";

    src: url("../fonts/OtomanopeeOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    text-align: center;
    height: 100%;
    font-family: "OtomanopeeOne-Regular";
    font-size: 14px;
    margin: 0px;
    background: #f9f9fb;
    color: #6c757d;
}

.header {
    background: #494d55;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    height: 70px;
    position: fixed;
    width: 100%;
}

.header__title {
    margin-top: 10px;
}

.main {
    margin: 0 auto;
    min-height: calc(100% - 106px);
    max-width: 90%;
    padding-top: 70px;
    font-size: 14px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 450px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    border: 1px solid black;
}

.card__img {
    width: 220px;
    height: 220px;
}

.card__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    text-align: left;
    justify-content: space-evenly;
    padding-left: 10px;
}

.card__content-item {
    margin: 0px;
}

.card__content-item_highlights {
    color: #eeeefa;

}

.card__link {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.pagination__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.pagination__buttons :hover:not(.pagination__button_active) {
    background-color: #ddd;
}

.pagination__button{
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.pagination__button_active {
    background-color: #494d55;
    color: white;
}

.pagination__button_disabled {
    opacity:0.6;
}

.footer {
    background: #343a40;
    padding: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
}


.spinner {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.spinner-whirlpool,
.spinner-whirlpool::before,
.spinner-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(205, 219, 15);
  border-left-color: rgb(11, 214, 180);
  border-radius: 974px;
  -o-border-radius: 974px;
  -ms-border-radius: 974px;
  -webkit-border-radius: 974px;
  -moz-border-radius: 974px;
}

.spinner-whirlpool {
  margin: -24px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: spinner-rotate 800ms linear infinite;
  -o-animation: spinner-rotate 800ms linear infinite;
  -ms-animation: spinner-rotate 800ms linear infinite;
  -webkit-animation: spinner-rotate 800ms linear infinite;
  -moz-animation: spinner-rotate 800ms linear infinite;
}

.spinner-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: spinner-rotate 800ms linear infinite;
  -o-animation: spinner-rotate 800ms linear infinite;
  -ms-animation: spinner-rotate 800ms linear infinite;
  -webkit-animation: spinner-rotate 800ms linear infinite;
  -moz-animation: spinner-rotate 800ms linear infinite;
}

.spinner-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: spinner-rotate 1600ms linear infinite;
  -o-animation: spinner-rotate 1600ms linear infinite;
  -ms-animation: spinner-rotate 1600ms linear infinite;
  -webkit-animation: spinner-rotate 1600ms linear infinite;
  -moz-animation: spinner-rotate 1600ms linear infinite;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes spinner-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinner-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

