/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  font-family: "OtomanopeeOne-Regular";
  font-size: 14px;
  margin: 0px;
  background: #f9f9fbb4;
  color: #6c757d;
}
